<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../default.css">
    <style>
        #box {
            display: flex;
            flex-direction: row;
            align-items: center;/* 定义怎样排齐*/
        }
        #box span {
            flex: 1;
        }
        .item1 {
            background-color: coral;
            height: 100px;
        }
        .item2 {
            background-color: lightblue;
            height: 80px;
        }
        .item3 {
            background-color: khaki;
            height: 120px;
        }

    </style>
</head>
<body>

<div id="box">
    <span class="item1">1</span>
    <span class="item2">2</span>
    <span class="item3">3</span>
</div>
</body>
</html>